
nav {
    background-color: #6971df;
    overflow: hidden;
    width: 100%;
    box-shadow: #111111;
  }
    
  nav a {
    float: left;
    display: block;
    color: #f5f5f5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
    
  nav a:hover {
    background-color: #f5f4f4;
    color: black;
  }
    
  nav a.active {
    background-color: #111111;
    color: white;
  }
  
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 60, 255);
    color: rgb(248, 245, 245);
    text-align: center;
    padding: 8px 6px;
  }

  h1{
    text-decoration: dashed;
    text-align: center;
    background-color: #ffffff00;
  }

 
